.popup-container {
    padding: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup-label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.popup-select,
.popup-textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.popup-submit-button {
    background-color: #232323;
    color: blanchedalmond;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.popup-submit-button:hover {
    background-color: #0073d6;
}