* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #232323;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #444;
    color: blanchedalmond;
    padding: 10px;
    height: 60px;
}

.nav a {
    color: blanchedalmond;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.nav a:hover {
    color: #0D0D0D;
}

.logo {
    margin-right: 20px;
    margin-left: 40px;
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: blanchedalmond;
}

#added-movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.greeting {
    margin-top: 20px;
    font-size: 24px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.movie-card {
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-cover {
    width: 200px;
    height: 300px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.movie-cover:hover {
    transform: scale(0.9);
}

.movie-title {
    font-size: 18px;
    margin: 5px 0;
    color: bleachalmond;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    margin: 5px;
    font-size: 15px;
    color: blanchedalmond;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-button:hover {
    color: red;
}